<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">Pick a favourite</h1>
    
    <form action="/search" method="get">
    <input name="country" class="form-control mx-auto text-center" type="text" placeholder="Enter" aria-label="Search" id="country" list="checkCountry">
    <datalist id="checkCountry"></datalist>
	</form>
  </div>
</div>